body{
    padding: Opx;
    color:black; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}


#question-container{
    margin: auto;
    width: 50%;
    height: 40%;
    border: 3px solid ;
    padding: 5%;
}

.btn{
    display: block;
    background-color: white;
    border: none;
    width: 80%;
    text-decoration: none;
    font-size: inherit;
}

:hover.btn{
    font-weight: 700;
   text-decoration: line-through;
}

.hide {
    display: none;
  } 

.img{
    height: 300px;
    width: 250px;
    background-size:cover;
    background-position: center;
    position:absolute; 
    top:35%;
    right: 25%;
}

.correct{
    color: green;
    background-image: url('../images/check-mark-1292787_1280.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.wrong{
    color: red;
    background-image: url('../images/abort-146096.png');
    background-size: contain;
    background-repeat: no-repeat;
}