
body{
    margin: 0;
    padding: Opx;
    color:black; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-image: url('../images/aurora_borealis.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#logo{
    color:white; 
    position: fixed;
    padding: 1.5% 3%;
    font-size: 44px; 
}

/*nature quiz title*/
h1{
    width: 100%;
    background-color: rgba(0,0,9,0.7);
    color: white; 
    padding: 2% 9%;
}
/*Instructions*/
#instructions, #score{
    width: 30%;
    height: 30%;
    border: 3px solid ;
    padding: 3% 5%;
    background-color: white;
    position: absolute;
    top:50%;
    right: 50%;
    transform: translate(50%,-50%);  
}
/* questions + answers and images */ 
#question-container{
    margin: auto;
    width: 50%;
    height: 50%;
    border: 3px solid ;
    padding: 3% 5%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    top:50%;
    right: 50%;
    transform: translate(50%,-50%);  
}

/* question + answers*/ 
#questionanswers{
    flex: 1;
    translate: (50%,-50%);
}

#question{
    width: 100%;
    padding: 4%;
    font-weight: 900;
}
/* question*/ 
#answer-buttons button{
    border: none;
    text-decoration: none;
    font-size: inherit;
    background-color: white;
    padding: 5% 0% 0% 20%; 
    display: block;
    width: 100%;
    text-align: left;
}

:hover.btn{
    font-weight: 700;
   text-decoration: line-through;
}

/*hide elements*/
.hide {
    display: none !important;
  } 

/* quiz images*/ 

#image-quiz{
    flex: 1;
}

.img{
    height: 50%;
    width: auto;
    background-size:contain;
    background-position: center; 
    margin: auto;
    background-repeat: no-repeat;
}

/*start button*/
#start-btn{
    width: fit-content;
    border: none;
    padding: 1% 3%;
    background: none;
    background-color: rgba(0,0,9,0.7);
    color: white; 
    font-size: 25px;
    position: absolute;
    top:80%;
    right: 50%;
    transform: translate(50%,-50%);    
}

#next-btn{
    width: fit-content;
    border: none;
    padding: 1% 3%;
    background: none;
    background-color: rgba(0,0,9,0.7);
    color: white; 
    font-size: 25px;
    position: absolute;
    top:87%;
    right: 50%;
    transform: translate(50%,-50%);    
}

/* if answer is correct*/ 
.correct{
    color: green;
    background-image: url('../images/check-mark-1292787_1280.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/*if answer is wrong*/ 

.wrong{
    color: red;
    background-image: url('../images/abort-146096.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#score{
    background-color: white;
    font-size: 24px;
;
}

/*for medium screen sizes from 700px wide and down*/

@media screen and (max-width: 700px) {
    #question-container{
        width: 80%;
        height: 70%;
        display: block;
        
    }
    
    #image-quiz{
        flex: 1;
    }

    #questionanswers{
        margin: 10%;
    }
    
}